<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>贪吃蛇游戏</title>
		<script src="vue.js"></script>
		<script src="game.js"></script>
		<style>
			table{
    				border-collapse:collapse;
				}
			table,td{
    				border: 1px solid black;
				}
			td{
				 height:20px;
				 width: 20px;
			}
		</style>
	</head>
	<body>
		
		<center>
			<div id="tab">
		<table>
			<tr v-for='count in 30'><td v-for='count in 40'></td></tr>
		</table>
			</div>
			<p> w a s d 操作 ，任意键暂停</p>
		</center>
		
		
		<script>
			var vm=new Vue({
				el : '#tab',
			})
			
			var pos=document.getElementsByTagName("td");
			//头坐标
			var headx=7;
			var heady=5;
			//身体坐标数组
			var body=[{x:4,y:5},{x:5,y:5},{x:6,y:5},{x:7,y:5}];
			//身体初始化
			for(var i=0;i<body.length;i++){
				b(body[i].x,body[i].y)
			}
			var wall=[];
			//初始化墙
			for(var yi=1;yi<=30;yi++){
				for(var xi=1;xi<=40;xi++){
					if(yi==1||yi==30){var obj={x:xi,y:yi};wall.push(obj);p(xi,yi)}
					else if(xi==1||xi==40){var obj={x:xi,y:yi};wall.push(obj);p(xi,yi);}
				}
			}
			//定义食物
			var foodx=Math.floor(Math.random()*37)+2;
			var foody=Math.floor(Math.random()*27)+2;
			//阻止蛇反向运动，flag代表上一个按键
			var flag;
			var thread;
			var firstFood;
			//键盘事件
			function keyDown(e){
				//产生第一个食物
				if(firstFood==null){g(foodx,foody);firstFood=1;}
				
				if((flag==87&&e.which==83)||(flag==83&&e.which==87)||(flag==65&&e.which==68)||(flag==68&&e.which==65)){
					return;
				}
								
				if(flag==null){thread=setInterval(function (){run(e.which)},80)}
				if(flag==e.which){return}
				else{
					clearInterval(thread);
					thread=setInterval(function (){run(e.which)},80)
				}
			
				flag=e.which;
				}
			document.onkeydown = keyDown;
			
			
			function run(v){
					//头坐标变换
				switch(v){
					case  87:heady--;break;  //w
					case  65:headx--;break;  //a
					case  83:heady++;break;  //s
					case  68:headx++;break;  //d
					default:return
				}
				//产生的新的头坐标
				var obj={x:headx,y:heady}
				//失败检测
				for(var i=0;i<body.length;i++){
					if(body[i].x==headx && body[i].y==heady){
					alert(" 碰到自己啦！");
					location.reload();
					}
				}
				for(var i=0;i<wall.length;i++){
					if(wall[i].x==headx && wall[i].y==heady){
						alert("碰到墙啦！")
						location.reload()
					}
				}
				
				//将新产生的头坐标变为黑色，并加入列表
				b(headx,heady);
				body.push(obj);
				if(headx==foodx&&heady==foody){
					foodx=Math.floor(Math.random()*37)+2;
					foody=Math.floor(Math.random()*27)+2;
					g(foodx,foody);
					return
				}
				//把列表第一个元素变为白色，并删除
				w(body[0].x,body[0].y);
				body.shift();
			}
			//将相应坐标变为黑色
			function b(x,y){
				pos[(y-1)*40+x-1].style.backgroundColor='black';
			}
			//将响应坐标变为白色
			function w(x,y){
				pos[(y-1)*40+x-1].style.backgroundColor='white';
			}
			function p(x,y){
				pos[(y-1)*40+x-1].style.backgroundColor='pink';
			}
			function g(x,y){
				pos[(y-1)*40+x-1].style.backgroundColor='green';
			}
		</script>
	</body>
</html>
